
.container {
    display: grid;
    grid-template-areas: "head head head" 
    "main main main" 
    "footer  footer footer"; 
    place-items: center;
   }

.header {
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 20px;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: clamp(50px, calc(10vw + 20px), 210px);
}

.nav {
    display: grid;
  }
  
  .nav li {
    list-style: none;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
  }

.nav ul {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.doormat-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.doormat-nav li {
  list-style: none;
  padding-bottom: 5px;
}

.doormat-title {
  max-width: 20px;
}

.doormat-nav {
  padding-left: 0px;
}

.info {
  padding-top: 20px;
}

.contact h2 {
  padding-top: 10px;
}

.info p {
  margin: 0px;
  padding-bottom: 5px;
}

.fb {
  max-width: 30%;
}

.insta {
  max-width: 26.7%;
}